.top-navbar {
  border-bottom: 1px solid #e5e5e5;
}

.bottom-navbar {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}
.top-container {
  display: flex;
  align-items: center;
}
.top-navbar form {
  margin-left: auto;
}
.navbar-brand {
  font-size: 30px;
  font-weight: 700;
}
